appdirs==1.4.4
Brotli==1.1.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.4.2
contourpy==1.0.7
cryptography==41.0.3
cssselect==1.2.0
cycler==0.11.0
fonttools==4.47.2
fs==2.4.16
idna==3.10
kiwisolver==1.4.4
lxml==4.9.3
matplotlib==3.8.3
munkres==1.1.4
numpy
olefile==0.46
packaging==23.2
Pillow
platformdirs==4.3.8
pooch==1.8.2
psutil==5.9.5
pybind11==2.10.4
pycairo==1.23.0
pycparser==2.21
pyftpdlib==1.5.7
PyGObject==3.44.1
pyOpenSSL==23.2.0
pyparsing==3.0.9
pysendfile==2.0.1
python-dateutil==2.8.2
pytz==2023.3
pyvista==0.45.0
requests==2.32.3
scooby==0.10.1
six==1.16.0
typing_extensions==4.13.2
urllib3==2.4.0
vtk==9.4.2
zopfli==0.2.3
natsort
pyvistaqt
PyQt5==5.15.10
